@font-face {
    font-family: 'fontmoi';
    src: url('https://github.com/cafeblog/blog/blob/master/echo%20-%20cafevatoi-%20-%20README.md%20git%20init%20git%20add%20README.md%20git%20commit%20-m%20-first%20commit-%20git%20remote%20add%20origin%20https/github.com/cafeblog/font-moi.woff2?raw=true') format('woff2'),
         url('https://github.com/cafeblog/blog/blob/master/echo%20-%20cafevatoi-%20-%20README.md%20git%20init%20git%20add%20README.md%20git%20commit%20-m%20-first%20commit-%20git%20remote%20add%20origin%20https/github.com/cafeblog/font-moi.woff?raw=true') format('woff');
    font-weight: normal;
    font-style: normal;

}
